
*,
::before,
::after {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    font-size: large;
    font-family: 'IM Fell English SC', serif;
}

header {
    font-size: 40px;
    text-shadow: 0px 4px 6px rgb(107, 25, 25), 8px 8px 6px rgba(0, 0, 0, 0.6);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(2, 2, 2);
    color: rgb(66, 16, 16);
    letter-spacing: 3px;
}

section {
    margin: 2vw 5vw;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #dee1d1 10%, #000000 20%, #000000 80%);
}

nav ul {
    color: white;
}

nav ul a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}

nav ul a:hover {
    color: darkgray;
    transition: all 500ms;
    font-size: 120%;
}

h1 {
    margin: 2vw 0;
    margin-bottom: 0;
    color: rgb(66, 13, 13);
    font-size: 50px;
    text-shadow: 4px 4px 6px rgb(107, 25, 25), 8px 8px 6px rgba(0, 0, 0, 0.6);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(51, 21, 21);
    letter-spacing: 5px;
}

h1::first-letter {
    color: black;
    font-size: 80px;
    text-shadow: 6px 6px 10px rgb(55, 10, 10), 12px 12px 12px rgba(0, 0, 0, 0.6);

}

h3 {
    margin-bottom: 1vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: medium;
    text-shadow: 0px 8px 9px rgb(78, 40, 40);
    color: rgb(51, 21, 21);
    font-weight: 800;
}

ol {
    margin-left: 2.5vw;
    margin-top: 0.5vw;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 20px;
}

section.introduction {
    margin-bottom: 0;
}

section.main-section {
    margin-top: 0;
}

span.highlight {
    color: rgb(66, 13, 13);
    text-decoration: underline;
    font-weight: 800;
    cursor: pointer;
    transition: all 500ms;
    letter-spacing: 2px;
}

span.highlight:hover {
    color: white;
}

span.tooltip-container {
    width: 10vw;
    height: 2vw;
    position: absolute;
    background-color: rgba(55, 10, 10, 0.7);
    border: 8px ridge rgb(55, 10, 10);
    border-radius: 5px;
    color: white;
    bottom: 2.8vw;
    opacity: 0;
    transition: all 500ms;
}

span.tooltip {
    height: 100%;
    font-family: 'Satisfy', cursive;
    transition: all 500ms;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

.useless {
    display: none;
}

.logo {
    width: 7vw;
    filter: contrast(130%);
    margin-bottom: 3vw;
}

#navbar-header {
    width: 100%;
    margin: 1vw 0 0vw 0;
    text-align: center;
}

#navbar ul {
    width: 100%;
    list-style-type: none;
}

#navbar ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 3vw 0;
    text-align: center;
    /*     background-color: blue; */
}

#navbar ul li a {
    width: 60%;
    /*   background-color: rebeccapurple; */
    text-align: center;
}

.face-icon {
    max-width: 20%;
    max-height: 20%;
    margin-left: 2vw;
}

.first {
    filter: contrast(180%) brightness(80%);
}

.credits {
    margin-bottom: 0.5vw;
    font-family: 'Satisfy', cursive;
}

.credits a {
    transition: all 500ms;
}

.credits a:active {
    color: white;
}

.credits a:hover {
    color: darkgray;
}

.credits a {
    color: rgb(133, 89, 89);
}

.greeting {
    text-align: center;
    margin-bottom: 2vw;
    font-size: 21px;
    position: relative;
}

#navbar {
    position: fixed;
    background-color: antiquewhite;
    height: 52vw;
    width: 15%;
    overflow: hidden;
}

.content {
    width: 85%;
    height: auto;
    margin-left: 15%;
    height: auto;
    background: linear-gradient(90deg, #000000 0%, #797979 5%, #797979 95%, #000000 100%);

}


.parent-element-title,
.index-indicator-container {
    margin-bottom: 1vw;
}


.win {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: rgb(235, 229, 222);
    font-size: medium;
    margin-top: 10%;
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: cover;
}

.coding-container {
    width: 25vw;
}

.example {
    width: 2vw;
    height: 2vw;
}

.example-gemstones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    position: relative;
}

.friends-container img {
    height: 10vw;
    height: 10vw;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.friends-container p.hover-tooltip {
    position: absolute;
    bottom: 4vw;
    font-family: 'Satisfy', cursive;
    color: rgb(222, 225, 209);
    opacity: 1;
    transition: all 600ms;
    font-size: larger;
}

.quote {
    font-family: 'Satisfy', cursive;
    color: rgb(222, 225, 209);
}

.img-background {
    height: 12vw;
    width: 12vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-spikes {
    width: 10vw;
    height: 10vw;
    background-image: url(https://media4.giphy.com/media/UmtlhplqLNWfGR4k6u/giphy.gif?cid=790b7611e6f1811ef6e9a01f167ad8e447d094c688108880&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 600ms;
}

.friend {
    height: 32vw;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.friend span {
    margin-top: 1vw;
    font-weight: bold;
    letter-spacing: 3px;

    /* hover */
    text-shadow: 0px 6px 8px rgb(55, 10, 10);
}

.friend hr {
    opacity: 0;
    transition: all 600ms;
}

.friend p {
    opacity: 0;
    transition: all 600ms;
}

.friend img {
    transform: scale(100%);
    transition: all 600ms;
}

.friend-description {
    margin-top: 1vw;
    min-height: 3vw;
    height: auto;
    opacity: 0;
    transition: all 600ms;
    font-weight: 800;
}

.friend:hover .friend-description,
.friend:hover hr,
.friend:hover p,
.friend:hover .img-spikes {
    opacity: 1;
    transition: all 600ms;
}

.friend:hover~p.hover-tooltip {
    opacity: 0;
    transition: all 600ms;
}

.friend:hover img {
    transform: scale(120%);
    transition: all 600ms;
}

.highlight:hover~.tooltip-container {
    opacity: 1;
    transition: all 600ms;
}

hr {
    width: 100%;
    margin: 1vw;
    background-color: brown;
    color: brown;
}

input {
    border: 2px solid rgb(55, 10, 10);
    margin-top: 5px;
}

.text {
    font-size: 21px;
}

.flex-container {
    width: 45vw;
    max-width: 67%;
    overflow: hidden;
    height: 13vw;
    background-color: rgb(29, 18, 18);
    display: flex;
    border: 20px ridge rgb(35, 35, 35);
    border-radius: 10px;
}


.gemstone-00 {
    height: 1vw;
    width: 1vw;
    cursor: pointer;
    margin: 1vw;
    background: rgb(118, 132, 127);
    border: 30px ridge rgb(86, 95, 92);
    border-radius: 10px 55px;
    box-shadow: 10px 10px 5px black;
}

.gemstone-01a {
    height: 1vw;
    width: 1vw;
    background: rgb(125, 70, 89);
    cursor: pointer;
    margin: 1vw;
    border: 30px ridge rgb(75, 26, 43);
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.gemstone-01b {
    height: 1vw;
    width: 1vw;
    background: rgb(148, 77, 77);
    cursor: pointer;
    margin: 1vw;
    border: 30px ridge rgb(102, 27, 27);
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.gemstone-02 {
    height: 0.7vw;
    width: 0.7vw;
    background: rgb(187, 182, 142);
    cursor: pointer;
    margin: 1vw;
    border: 30px ridge rgb(86, 83, 51);
    transform: rotate(45deg);
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.gemstone-03 {
    height: 1vw;
    width: 2vw;
    background: rgb(215, 172, 147);
    cursor: pointer;
    margin: 1vw;
    border: 30px ridge rgb(122, 94, 78);
    border-radius: 45%;
    box-shadow: 10px 10px 5px black;
}

.gemstone-04 {
    height: 1vw;
    width: 1vw;
    background: rgb(158, 126, 126);
    cursor: pointer;
    margin: 1vw;
    border: 30px ridge rgb(94, 74, 74);
    border-radius: 40% 20%;
    box-shadow: 10px 10px 5px black;
}

.gemstone-05 {
    height: 1vw;
    width: 0.5vw;
    background: rgb(227, 179, 179);
    cursor: pointer;
    margin: 1vw;
    border: 30px ridge rgb(185, 142, 142);
    border-radius: 40%;
    box-shadow: 10px 10px 5px black;
}

.indent {
    margin-left: 30px;
}

.value {
    padding: 2%;
    width: 95%;
    background-color: rgb(158, 159, 153);
    margin-top: 2vw;
    border-radius: 10px;
    border: 8px ridge rgb(158, 159, 153);
}

.value-container {
    display: flex;
    align-items: center;
}

.align-content .flex-container {
    flex-wrap: wrap;
    height: 20vw !important;
}

.monster-image-1,
.monster-image-2,
.monster-image-3,
.monster-image-4,
.monster-image-5 {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 5px ridge rgb(169, 169, 151);
    background-color: black;
    box-shadow: 0px 25px 20px -3px rgba(0, 0, 0, 0.75);
}

.monster-image-1 {
    background-image: url(https://media2.giphy.com/media/oWdZ6RYMOQJSmZ9h7O/giphy.gif?cid=790b7611e267e00cb9d64c858fb81adcd36d09312414f2b4&rid=giphy.gif&ct=s);
    background-size: 220px 220px;
    background-position: -60px 195px;
}

.monster-image-2 {
    background-image: url(https://media0.giphy.com/media/F76koovazlnFiUiQje/giphy.gif?cid=790b7611e77393c372ce065bd031e0db6037f6ba3b1f2a0d&rid=giphy.gif&ct=s);
    background-size: 190px 190px;
    background-position: -40px 180px;
}

.monster-image-3 {
    background-image: url(https://media2.giphy.com/media/RQ4mkTaV0st4wkquYZ/giphy.gif?cid=790b7611de3ca05c77ced0e828ffc51863d85f7bbcba9999&rid=giphy.gif&ct=s);
    background-size: 160px 160px;
    background-position: -20px 150px;
}

.monster-image-4 {
    background-image: url(https://media2.giphy.com/media/yEVE3KCmIoPd1HQsz4/giphy.gif?cid=790b7611824df123a8aa2153f68d87ef8475050c53c5b017&rid=giphy.gif&ct=s);
    background-size: 220px 220px;
    background-position: -55px 195px;
}

.monster-image-5 {
    background-image: url(https://media0.giphy.com/media/6RI2rrDympLkbqGoE3/giphy.gif?cid=790b761198cce018c0ad607f81e4e8bd0e4826988f023386&rid=giphy.gif&ct=s);
    background-size: 170px 170px;
    background-position: -35px 150px;
}

.spikes {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(160%);
}

.value-description {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, transparent 1%, #babcad 3%, #babcad 93%, transparent 99%, transparent 100%);
    width: 45vw;
    height: 2vw;
    border: 4px ridge rgb(169, 169, 151);
    border-left: none;
    border-radius: 10px;
    font-size: 1vw;
    box-shadow: 0px 12px 20px -3px rgba(0, 0, 0, 0.75);
}

footer {
    width: 100%;
    height: 7vw;
    background: linear-gradient(90deg, #000000 0%, rgb(31, 3, 3) 5%, rgb(31, 3, 3)  95%, #000000 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: medium;
    overflow: hidden;
}

.author {
    display: flex;
    flex-direction: column;
}

.footer-monster {
    width: 9vw;
    margin-top: 5vw;
}

.design {
    font-size: small;
}

.coding-block {
    display: flex;
    align-items: center;
}

.coding-block code {
    width: 33%;
}

.check-out {
    font-family: 'Satisfy', cursive;
    margin: 1vw;
}

.index-indicator {
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px ridge rgb(169, 169, 151);
    background-color: black;
    margin-right: 0.5vw;
}

.index {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: white;
}

.index-indicator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

code input {
    font-family: monospace;
    font-style: italic;
}

code {
    font-size: 0.9vw;
}

section#parent_element .succeed{
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-fd-column:valid) > .flex-container {
    flex-direction: column;
}

.coding-block:has(input#input-fd-column:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-fd-column-reverse:valid)>.flex-container {
    flex-direction: column-reverse;
}

.coding-block:has(input#input-fd-column-reverse:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-fd-row:valid)>.flex-container {
    flex-direction: row;
}

.coding-block:has(input#input-fd-row:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-fd-row-reverse:valid)>.flex-container {
    flex-direction: row-reverse;
}

.coding-block:has(input#input-fd-row-reverse:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-fw-wrap:valid)>.flex-container {
    flex-wrap: wrap;
}

.coding-block:has(input#input-fw-wrap:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-fw-nowrap:valid)>.flex-container {
    flex-wrap: nowrap;
}

.coding-block:has(input#input-fw-nowrap:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-fw-wrap-reverse:valid)>.flex-container {
    flex-wrap: wrap-reverse;
}

.coding-block:has(input#input-fw-wrap-reverse:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-jc-center:valid)>.flex-container {
    justify-content: center;
}

.coding-block:has(input#input-jc-center:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-jc-flex-start:valid)>.flex-container {
    justify-content: flex-start;
}

.coding-block:has(input#input-jc-flex-start:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-jc-flex-end:valid)>.flex-container {
    justify-content: flex-end;
}

.coding-block:has(input#input-jc-flex-end:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-jc-space-around:valid)>.flex-container {
    justify-content: space-around;
}

.coding-block:has(input#input-jc-space-around:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-jc-space-between:valid)>.flex-container {
    justify-content: space-between;
}

.coding-block:has(input#input-jc-space-between:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-jc-space-evenly:valid)>.flex-container {
    justify-content: space-evenly;
}

.coding-block:has(input#input-jc-space-evenly:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ai-center:valid)>.flex-container {
    align-items: center;
}

.coding-block:has(input#input-ai-center:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ai-flex-start:valid)>.flex-container {
    align-items: flex-start;
}

.coding-block:has(input#input-ai-flex-start:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ai-flex-end:valid)>.flex-container {
    align-items: flex-end;
}

.coding-block:has(input#input-ai-flex-end:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ai-stretch:valid)>.flex-container {
    align-items: stretch;
}

.coding-block:has(input#input-ai-stretch:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ai-baseline:valid)>.flex-container {
    align-items: baseline;
}

.coding-block:has(input#input-ai-baseline:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ac-space-between:valid)>.flex-container {
    align-content: space-between;
}

.coding-block:has(input#input-ac-space-between:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ac-space-around:valid)>.flex-container {
    align-content: space-around;
}

.coding-block:has(input#input-ac-space-around:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ac-stretch:valid)>.flex-container {
    align-content: stretch;
}

.coding-block:has(input#input-ac-stretch:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ac-center:valid)>.flex-container {
    align-content: center;
}

.coding-block:has(input#input-ac-center:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ac-flex-start:valid)>.flex-container {
    align-content: flex-start;
}

.coding-block:has(input#input-ac-flex-start:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

.coding-block:has(input#input-ac-flex-end:valid)>.flex-container {
    align-content: flex-end;
}

.coding-block:has(input#input-ac-flex-end:valid) > .flex-container .succeed {
    background-image: url(https://media1.giphy.com/media/57Y7JIqvH9okJCJYjp/giphy.gif?cid=790b7611c60f56242d5a887474db5ec1a753bc86dcabd002&rid=giphy.gif&ct=s);
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 320px) and (max-width: 876px) {
    
    body {
        display: flex;
    }
    
    nav {
        z-index: 4;
    }

    .content {
        margin: 0;
        margin-top: 10vw;
        width: 100%;
    }

    #navbar {
        width: 100%;
        height: 10vw;
        flex-direction: row;
        background:  beige;
    }

    #navbar-header {
        width: 30%;
        margin-left: 2vw;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        width: 70%;
    }

    #navbar li a {
        display: none;
    }

    #navbar ul li {
        width: 100vw;
        height: 10vw;
    }

    #navbar ul li img {
        width: 7vw;
        height: 7vw;
    }

    .face-icon {
        max-width: 7vw;
        max-height: 7vw;
    }

    .logo {
        display: none;
    }

} 